@{
    ViewBag.Title = "Home Page";
}

<h1>Application de Gestion Locamer</h1>

<div class="row">
    <div class="col-lg-4">
        <h3>Les clients</h3>
        <p>Ce module vous permet de créer, modifier et supprimer des clients du camping</p>
        @Html.ActionLink("Liste des client", "Index", "Client", new { @class="btn btn-primary" })
    </div>
</div>